html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

* {
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body
{
    background-color: lightgrey;
}
.pageContainer{
    width:97%;
    /*padding: 10px;*/
    margin-left: auto;
    margin-right: auto;
}
.ColumnEffect{
    padding: 5px;
    /*background-color: pink;*/
    min-height: 1180px;
}
.ProfilePic {
    width: 100px;
    height: 100px;
}
.container-m{
    margin-left: 20px;
}
.text-grey{
    color:#757575;
}
.sub-heading{
    font-size:18px;
    font-weight: 500;
}
.Main-Heading{
    font-size: 30px;
    font-weight: 400;
}
.subclass{
    margin-top: 20px;
}

 .icon-large{
 font-size: 20px !important;
}
 .margin-top{
     margin-top: 25px;
 }
 .icon-color{
    color:maroon;
}
.font{
    font-size: 15px;
}
.margin-text-left{
    margin-left: 20px;
}
.margin-text-right{
    margin-right: 20px;
}
.left-Column{
    background-color: white;
    min-height: 1170px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.left-Column:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.rowFirst{
    min-height: 600px;
}
.margin{
    margin: 10px;
}
.Right-Column-1{
    background-color: white;
    min-height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.Right-Column-2{
    background-color: white;
    min-height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.Right-Column-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.Right-Column-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.footer{
    min-height: 150px;
    background-color: maroon;
    text-align: center;
    color:white;
    font-size: 18px;
}
.text-centre{
    text-align: center;
}
.footer-text{
    color:white;
    font-size: 18px;
}
.Main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ProgressBar{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius:5px;
    box-shadow:0 1px 2px #222;
}
.title{
    position: absolute;
    width: 100px;
    height: 40px;
    padding-left: 10px;
    float: left;
    font-weight: bold;
    color:#fff;
    z-index: 10000;
    line-height: 2.5;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    box-shadow: 2px 0 2px #333;
    text-shadow: 1px 1px 1px #000;
}
.AngularColor{
    background-color: deeppink;
}
.IonicColor{
    background-color: greenyellow;
}
.HtmlColor{
    background-color: #00b3ee;
}
.BootstrapColor{
    background-color: orangered;
}
.CSSColor{
   background-color: purple;
}
.JavascriptColor{
   background-color: yellow;
}
.Javascript
{
    background-color: red;
}
.CSS
{
    background-color: red;
}
.Bootstrap
{
    background-color: red;
}
.Html{
background-color: red;
}
.Ionic{
    background-color: red;
}
.Angular{
    background-color: red;
}
.ProgressValue{
    position: relative;
    float: right;
    padding-right: 10px;
    line-height: 2.5;
    font-weight: bold;
    color:#455a64;
    z-index: 10000;

}